---
const links = [
    {link: '/', text: 'Home'},
    {link: '/about/', text: 'About'},
    {link: '/blog/', text: 'Blog'},
    {link: '/tags/', text: 'Tags'}
]
---
<ul class="nav-links">
{ links.map((link, item) => <li><a href={link.link}>{link.text}</a></li>) }
</ul>